In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('data.csv')
ls=df
df.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [3]:
y=ls.Potential
y

0        94
1        94
2        93
3        93
4        92
5        91
6        91
7        91
8        91
9        93
10       90
11       90
12       90
13       90
14       90
15       94
16       91
17       90
18       92
19       90
20       89
21       89
22       89
23       89
24       89
25       95
26       89
27       90
28       89
29       88
         ..
18177    69
18178    65
18179    64
18180    58
18181    66
18182    65
18183    48
18184    55
18185    59
18186    64
18187    59
18188    62
18189    61
18190    67
18191    65
18192    64
18193    64
18194    65
18195    67
18196    61
18197    61
18198    70
18199    69
18200    62
18201    68
18202    65
18203    63
18204    67
18205    66
18206    66
Name: Potential, Length: 18207, dtype: int64

In [4]:
x=ls[["Age","Overall"]]
x

       Age  Overall
0       31       94
1       33       94
2       26       92
3       27       91
4       27       91
5       27       91
6       32       91
7       31       91
8       32       91
9       25       90
10      29       90
11      28       90
12      32       90
13      32       90
14      27       89
15      24       89
16      24       89
17      27       89
18      26       89
19      26       89
20      29       89
21      31       89
22      32       89
23      30       89
24      33       89
25      19       88
26      26       88
27      26       88
28      26       88
29      27       88
...    ...      ...
18177   18       48
18178   18       48
18179   17       48
18180   22       48
18181   17       48
18182   18       48
18183   44       48
18184   18       48
18185   19       48
18186   20       47
18187   19       47
18188   17       47
18189   18       47
18190   18       47
18191   18       47
18192   18       47
18193   18       47
18194   18       47
18195   18       47
18196   19       47
18197   18       47
18198   18       47
18199   18       47
18200   18       47
18201   18       47
18202   19       47
18203   19       47
18204   16       47
18205   17       47
18206   16       46

[18207 rows x 2 columns]

In [5]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)
y_train

13282    65
13111    66
2811     73
10697    72
4145     78
15357    66
4957     70
1969     82
7718     68
12146    71
12892    63
12024    64
4580     71
9918     66
10820    69
13433    64
844      81
9197     71
2233     87
13960    70
7562     75
15343    70
4262     71
15149    73
13711    62
13692    74
13797    80
11466    64
2939     73
7377     82
         ..
10497    65
4820     70
2903     88
2304     77
13091    71
1626     75
15585    64
1165     77
9804     66
14451    62
2952     80
9578     71
11426    78
5414     70
12853    67
332      84
12148    63
2827     73
16776    71
3901     72
268      83
5557     76
2219     74
12272    65
7265     70
16749    71
8954     75
8955     66
5467     70
12033    64
Name: Potential, Length: 14565, dtype: int64

In [6]:
from sklearn.preprocessing import PolynomialFeatures 
from sklearn.linear_model import LinearRegression  
poly = PolynomialFeatures(degree = 6) 
x_poly = poly.fit_transform(x) 
  
poly.fit(x_poly, y) 
lin2 = LinearRegression() 
lin2.fit(x_poly, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
pred2 = np.array([19,72]).reshape(1,2)
lin2.predict(poly.fit_transform(pred2))

array([84.3262719])

In [10]:
print("The train accuracy of the model is: {}%".format(lin2.score(x_poly, y)*100))

The train accuracy of the model is: 92.70040035698074%